name: docs
on:
  pull_request:
    branches: ['main']
permissions: {}
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Setup java 25
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'semeru'
        java-version: '25'
        cache: 'maven'
        check-latest: false
    - name: Build docs
      run: mvn javadoc:aggregate
