name: test
on:
  push:
    branches: ['main']
  pull_request:
    branches-ignore: ['gh-pages']
permissions: {}
env:
  SERVER_AUTH_TYPE: basic
  SERVER_URL: http://127.0.0.1:5984
  SERVER_USERNAME: admin
  SERVER_PASSWORD: password
  WIREMOCK_URL: http://127.0.0.1:8080
  WIREMOCK_PORT: 8080
jobs:
  test:
    strategy:
      matrix:
        java: ['11', '17', '21', '25']
    runs-on: ubuntu-latest
    services:
      couchdb:
        image: apache/couchdb:3
        env:
          COUCHDB_USER: ${{ env.SERVER_USERNAME }}
          COUCHDB_PASSWORD: ${{ env.SERVER_PASSWORD }}
        options: --name couchdb
        ports:
        - 5984:5984
      wiremock:
        image: wiremock/wiremock
        options: --name wiremock
        ports:
        - 8080:8080
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Setup java ${{ matrix.java }}
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'semeru'
        java-version: ${{ matrix.java }}
        cache: 'maven'
        check-latest: false
    - name: Setup CouchDB
      shell: bash
      run: ${GITHUB_WORKSPACE}/scripts/setup_couch.sh
    - name: Setup Wiremock
      shell: bash
      run: ${GITHUB_WORKSPACE}/scripts/setup_wiremock.sh
    - name: Run tests
      run: mvn --batch-mode verify
